body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
  }

.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container img {
    text-align: center;
    margin-bottom: 20px;
    width: 95%;
    height: 75px;
}

.container input[type="text"],
.container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container input[type="submit"] {
    width: 90%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 15px;

}

.container imput[type="submit"]:hover{
    background-color: #4CAF50;
}